{% load compressor_tags %}
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="nl"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="nl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% block meta-description %}{% endblock %}">
  <meta name="author" content="{% block meta-author %}{% endblock %}">
  <meta name="DC.creator" content="{% block meta-dc-creator %}{% endblock %}">
  <link rel="DC.creator" href="{% block link-dc-creator %}{% endblock %}">
  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
  <meta name="DC.contributor" content="Fabrique [brands, design &amp; interaction]">
  <link rel="DC.contributor" href="http://www.fabrique.nl/">
  <title>{% block page-title %}{% endblock %}</title>
<!-- For Apple Mobile - start -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ STATIC_URL }}website/images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}website/images/apple-touch-icon.png">
<!-- For Apple Mobile - end -->
<!-- Stylesheets - start -->
  {% compressed "css" "css_file_link" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}website/presentation/screen.css" media="screen,projection">
  <link rel="stylesheet" href="{{ STATIC_URL }}website/presentation/handheld.css" media="handheld">
  <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}website/presentation/ie.css" media="screen,projection"><![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}website/presentation/print.css" media="print">
<!-- Stylesheets - end -->
  <script src="{{ STATIC_URL }}generic/behaviour/modernizr-1.7.min.js"></script>
  {% block extra-head-slot %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">

  {% comment %}
    Here goes the awesomesauce.
  {% endcomment %}

  <!-- Scripts - start -->
  <script src="{{ STATIC_URL }}generic/behaviour/jquery-1.6.2.min.js"></script>
  <script src="{{ STATIC_URL }}website/behaviour/plugins.js"></script>
  <script src="{{ STATIC_URL }}website/behaviour/engine.js"></script>
  <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}generic/behaviour/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_TAG }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Scripts - end -->
</body>
</html>
